{% extends 'workouts/base.html' %}
{% load static %}

{% block content %}
    <!-- ABOUT -->
    <section class="about" id="about">
        <div class="about-header section">
            <h6 data-aos="fade">Learn more about zoeziAI</h6>
            <h2 data-aos="fade" data-aos-delay="100">About Us</h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="mt-lg-5 mb-lg-0 mb-4 col-lg-5 col-md-10 mx-auto col-12">
                    <h2 class="mb-4" data-aos="fade" data-aos-delay="200">Hello, welcome to zoeziAI!</h2>
                    <p data-aos="fade" data-aos-delay="300">
                        Discover the next level of health and fitness through our personalized workout routines. Whether you're a beginner or athlete, zoeziAI has just the workout for you!
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
