{% extends "workouts/profile_base.html" %}
{% load static %}

{% block title %}Profile Page{% endblock title %}

{% block content %}
<div class="container-fluid profile-container">
    <h2>Dashboard</h2>
    <hr/>
    <div class="row">
        <div class="col-4">
            <div class="card profile-card">
                    <img src="/media/{{user.trainer_profile.avatar}}" alt="Avatar" class="card-img-top">
                    {% comment %} <img src="{% static '/workouts/images/avatar.png' %}" alt="Avatar" class="card-img-top"> {% endcomment %}
                <div class="card-body">
                    <h4 class="card-title">{{user.first_name}} {{user.last_name}}</h4> 
                    <h6 class="card-title">{{user.username}}</h6>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="card profile-card">
                <div class="card-body">
                    <div class="card-title">
                        <h3>Personal Details</h3>
                    </div>
                    <div class="personal-details">
                        <div class="row">
                            <div class="col">
                                <table class="col">
                                    <tr>
                                        <td class="details-title"><p>First Name</p></td>
                                        <td class="details-value"><p>{{user.first_name}}</p></td>
                                    </tr>
                                    <tr>
                                        <td class="details-title"><p>Last Name</td>
                                        <td class="details-value"><p>{{user.last_name}}</td>
                                    </tr>
                                    <tr>
                                        <td class="details-title"><p>Date of Birth</td>
                                        <td class="details-value"><p>{{user.trainer_profile.date_of_birth}}</td>
                                    </tr>
                                    <tr>
                                        <td class="details-title"><p>Location</td>
                                        <td class="details-value"><p>{{user.trainer_profile.location}}</td>
                                    </tr>
                                    <tr>
                                        <td class="details-title"><p>Bio</td>
                                        <td class="details-value"><p>{{user.trainer_profile.bio}}</td>
                                    </tr>
                                </table>
                        </div>
                    </div>
                    <a class="btn btn-warning btn-edit-profile" data-toggle="modal" href="{% url 'trainer-profile' %}" data-target="#edit-trainer-profile" title="Edit Profile" data-tooltip>Edit Details</a>
                </div>
            </div>
        </div>
    </div>

    <hr />

</div>
</div>
</div>

<div class="modal fade" id="edit-trainer-profile" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="form">
        <div class="modal-content">
            <form action="." method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Profile</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    {% include 'workouts/includes/trainer_update_form.html' %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}