asgiref==3.5.0
backports.entry-points-selectable==1.1.1
beautifulsoup4==4.10.0
certifi==2021.10.8
click==8.0.4
colorama==0.4.4
distlib==0.3.3
Django==4.0.2
django-bootstrap4==21.2
django-environ==0.10.0
django-widget-tweaks==1.4.12
djlint==0.7.5
filelock==3.4.0
importlib-metadata==4.11.2
pathspec==0.9.0
Pillow==9.0.1
pipenv==2021.11.15
platformdirs==2.4.0
psycopg2==2.9.3
PyYAML==6.0
regex==2022.1.18
six==1.16.0
soupsieve==2.3.1
sqlparse==0.4.2
tomlkit==0.9.2
tqdm==4.63.0
tzdata==2021.5
virtualenv==20.10.0
virtualenv-clone==0.5.7
zipp==3.7.0
